$mainContent: 1440px;
$width: 95%;

// Website Colors
$pink: #ED1164;
$yellow: #FFF200;
$mintGreen: #B7DEBF;
$lightGreen: #D7ED96;
$green: #00A76D;
$purple: #B455A0;
$orange: #FAA95C;
$coral: #F9B1A6;
$darkGrey: #777777;
$lightGrey: #A2A2A2;
$white: #FFFFFF;
$backgroundcolor: $white;

// Font Colors
$primaryText: $white;
$secondaryText: $mintGreen;
$tertiaryText: $pink;
$linkColor: $lightGrey;
$hoverColor: $pink;

// Fonts
$bodyFont: 'Circular-Book', sans-serif;
$bodyFontBold: 'Circular-Bold', sans-serif;
$bodyFontBlack: 'Circular-Black', sans-serif;
$bodyFontMedium: 'Circular-Medium', sans-serif;
$primaryHeadingFont: 'IntroRust-Base', sans-serif;
$secondaryHeadingFont: 'Populaire', sans-serif;
