.givingBack {
	overflow: hidden;

	.section1 {
		background: url( #{"{{ 'givingback-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 710px;

		div {
			@extend .flexParent;
			@extend .justifyContentFlexEnd;
			@extend .alignItemsFlexEnd;
			height: 100%;
		}

		p {
			@extend .absolute;
			@include fontSize(40);
			font-family: $bodyFontBold;
			margin: 0;
			bottom: 225px;
			right: 150px;
			padding: 10px 15px;
			background: $mintGreen;
		}

		h2 {
			white-space: nowrap;
		}

		@include bp(768) {
			height: 480px;

			div {
				height: 100%;
			}

			p {
				@include fontSize(30);
				bottom: 135px;
				right: 55px;
			}
		}

		@include bp(580) {
			height: 480px;

			div {
				height: 100%;
			}

			p {
				@include fontSize(22);
				bottom: 98px;
				right: 45px;
				padding: 7px 10px;
			}
		}
	}

	.section2 {
		background: url( #{"{{'givingBackPurplePaperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;

		> div {
			@extend .flexParent;
			@extend .justifyContentSpaceAround;
		}

		&Container {
			width: 45%;
		}

		h6 {
			font-family: $bodyFontBold, sans-serif;
			color: $mintGreen;
			letter-spacing: -0.33px;
			line-height: 39px;
			// padding-top: 5%;
		}

		p {
			letter-spacing: -0.25px;
			line-height: 32px;
		}

		.givingBackImgContainer {
			@extend .relative;
			width: 110%;
			top: -90px;
			left: -150px;

			img {
				transform: rotate(9deg);
			}
		}

		@include bp(768) {

			&Container {
				width: 100%;
			}

			.givingBackImgContainer {
				top: -50px;

			}
		}

		@include bp(580) {

			.givingBackImgContainer {
				left: 50px;
			}
		}
	}
}