.homepage {
	h1, h2, h3, h4, h5, h6 {
		// text-align: justify;
	}

	.section1 {
		background: url( #{"{{'homepage-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 710px;

		div {
			height: 100%;
		}

		h2 {
			margin-bottom: 4%;
		}
		
		@include bp(768) {
			height: 450px;
		}

		@include bp(580) {
			height: 360px;
		}
	}

	.section2 {
		@extend .relative;
		height: 520px;
		background-color: $lightGrey;

		.products2 {
			@extend .absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-40%);

			@include bp(768) {
				display: none;
			}
		}

		.products2Tablet {
			display: none;

			@include bp(768) {
				position: absolute;
				display: block;
				width: 56%;
				bottom: 0;
				right: 0;
			}

			@include bp(580) {
				display: none;
			}
		}

		.productsMobile {
			display: none;

			@include bp(580) {
				position: absolute;
				display: block;
				top: -15px;
				right: 0;
			}
		}

		@include bp(768) {
			height: 480px;

			& > div {
				height: 100%;
			}

			.sectionContent2 {
				margin-top: 10%;
				flex-direction: column;
			}
		}

		@include bp(580) {
			height: 400px;
		}
	}

	.section3 {
		position: relative;
		background: $orange;
		overflow: hidden;

		.givingBackImgContainer {
			@extend .absolute;
			left: 48%;
			transform: translateX(-45%);
		}

		@include bp(768) {
			height: 520px;

			> div,
			.sectionContent3 {
				height: 100%;
			}

			.sectionContent3 {
				justify-content: center;
				flex-direction: column;
				align-items: flex-end;
			}

			.givingBackImgContainer {
				left: -65px;
				top: 5px;
				transform: rotate(10deg);
				width: 77%;
			}
		}

		@include bp(580) {
			height: 460px;

			.sectionContent3 {
				flex-direction: row;
				position: relative;
				flex-wrap: nowrap;
				justify-content: space-between;
			}

			.givingBackImgContainer {
				left: 50%;
				top: 20px;
				width: 100%;
				transform: rotate(10deg) translate(-50%);
			}
		}
	}

	.sectionContent {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
	}

	.weWantedToMakeContainer,
	.soWeDidContainer {
		margin-top: 9%;
		margin-bottom: 3%;
		@extend .relative;
		z-index: 1;

		@include bp(768) {
			margin: 0;

			&-section3 {
				margin: 0;
				position: relative;
			}
		}

		@include bp(580) {

			&-section2 {
				position: relative;
				display: block;
				width: 100%;
			}

			&-section3 {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}

	.weWantedToMakeContainer {
		width: 300px;

		h4 {
			font-family: $secondaryHeadingFont, sans-serif;
		}

		h1,
		.difference,
		.superJuice {
			font-family: $primaryHeadingFont, sans-serif;
		}

		&-section2 {
			h4 {
				color: $mintGreen;
			}
		}

		&-section3 {
			h4,
			h1,
			h5 {
				color: $purple;
			}
		}

		.difference {
			@include fontSize(50);
			letter-spacing: -1;
		}

		@include bp(768) {
			width: 200px;

			&-section3 {
				h4 {
					@include fontSize(60);
				}
			}

			.difference {
				@include fontSize(33);
				letter-spacing: 0;
			}
		}

		@include bp(580) {
			// width: 135px;

			&-section3 {
				h4 {
					@include fontSize(40);
				}
			}

			.difference {
				@include fontSize(22);
			}
		}
	}

	.soWeDidContainer {

		@include bp(768) {
			&-section2 {
				display: flex;
			}
		}

	}

	.soWeDid {
		width: 250px;

		&-section2 {
			h5,
			h3 {
				color: $pink;
			}
		}

		@include bp(768) {
			width: 200px;
		}

		@include bp(580) {
			// width: 135px;
		}
	}

	.learnAboutProbioticsLink {
		width: 225px;
		margin-left: 10%;

		@include bp(768) {
			margin: 0;

			&-section3 {
				position: absolute;
				left: -250px;
				bottom: -15px;
			}
		}

		@include bp(580) {
			width: 135px;

			&-section2 {
				position: absolute;
				bottom: -90px;
				right: 0;
			}

			&-section3 {
				position: static;
			}
		}
	}

	.learnAboutProbiotics {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
		@extend .alignItemsCenter;
		padding: 10px;
		margin-top: 30px;

		p {
			margin: 0;
			font-family: $bodyFontBold, sans-serif;
		}

		&-section2 {
			background: $purple;

			p {
				color: $white;
			}
		}

		&-section3 {
			background: $yellow;
			color: $purple;
		}

		@include bp(580) {

			p {
				@include fontSize(11);
			}

			img {
				width: 20px;
			}

			&-section3 {
				margin: 0 0 15px;
			}
		}
	}
}
