.homepage {

	.section1 {
		@extend .relative;
		background: url( #{"{{'homepage-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 710px;

		h2 {
			@extend .absolute;
			bottom: 0;
			right: 4%;
			margin-bottom: 4%;
		}
		
		@include bp(768) {
			height: 450px;
		}

		@include bp(580) {
			height: 360px;
		}
	}

	.section2 {
		@extend .relative;
		height: 520px;
		background: url( #{"{{'paperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;

		.wrapper,
		.sectionContent2 {
			height: 100%;
		}

		.products2 {
			@extend .absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-40%);

			@include bp(768) {
				display: none;
			}
		}

		.products2Tablet {
			display: none;

			@include bp(768) {
				position: absolute;
				display: block;
				width: 56%;
				bottom: 0;
				right: 0;
			}

			@include bp(580) {
				display: none;
			}
		}

		.productsMobile {
			display: none;

			@include bp(580) {
				position: absolute;
				display: block;
				top: -15px;
				right: 0;
			}
		}

		@include bp(768) {
			height: 480px;
			background-position: -105px center;

			.sectionContent2 {
				margin-top: 8%;
				flex-direction: column;
				align-items: initial;
				justify-content: initial
			}
		}

		@include bp(580) {
			height: auto;
		}

		@include bp(320) {
			height: 400px;
		}
	}

	.section3 {
		position: relative;
		background: url( #{"{{'orangePaperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		overflow: hidden;
		height: 520px;

		> div,
		.sectionContent3 {
			height: 100%;
		}

		.givingBackImgContainer {
			@extend .absolute;
			left: 48%;
			transform: translateX(-45%);
			top: 15px;
		}

		@include bp(768) {
			background-position: -30px center;

			.sectionContent3 {
				justify-content: center;
				flex-direction: column;
				align-items: flex-end;
			}

			.givingBackImgContainer {
				left: -65px;
				top: 5px;
				transform: rotate(10deg);
				width: 77%;
			}
		}

		@include bp(580) {
			height: auto;
			background: url( #{"{{'orangePaperTextureMobile.png' | asset_url }}"} ) center center no-repeat;

			.sectionContent3 {
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: stretch;
				margin-top: 68%;
				margin-bottom: 10%;
			}

			.givingBackImgContainer {
				left: 50%;
				top: 50px;
				width: 100%;
				transform: rotate(10deg) translate(-40%);
			}
		}
	}

	.sectionContent {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
		@extend .alignItemsCenter;
	}

	.weWantedToMakeContainer,
	.soWeDidContainer {
		margin-top: 5%;
		margin-bottom: 3%;
		@extend .relative;
		z-index: 1;

		@include bp(768) {
			margin: 0;

			&-section3 {
				position: relative;
			}
		}

		@include bp(580) {

			&-section2 {
				position: relative;
				display: block;
			}
		}
	}

	.weWantedToMakeContainer {
		width: 300px;
		line-height: 79.68px;

		h4 {
			font-family: $secondaryHeadingFont, sans-serif;
			/* We Wanted to make a: */
			// font-family: Populaire;
			// font-size: 90.23px;
			// color: #B7DEBF;
			// letter-spacing: 1.64px;
			line-height: 79.68px;
			// line-height: normal;
		}

		h1,
		.difference,
		.superJuice {
			font-family: $primaryHeadingFont, sans-serif;
		}

		&-section2 {
			z-index: 0;

			h4 {
				color: $mintGreen;
			}
		}

		&-section3 {
			h4,
			h1,
			h5 {
				color: $purple;
			}
		}

		.difference {
			@include fontSize(50);
			letter-spacing: -1;
		}

		@include bp(768) {
			width: 200px;

			&-section3 {
				h4 {
					@include fontSize(60);
				}
			}

			.difference {
				@include fontSize(33);
				letter-spacing: 0;
			}
		}

		@include bp(580) {

			&-section2 {
				width: 50%;
			}

			&-section3 {
				width: 47%;

				h4 {
					@include fontSize(40);
				}
			}

			.difference {
				@include fontSize(22);
			}
		}
	}


	.soWeDidContainer {

		@include bp(768) {

			&-section2 {
				display: flex;
			}
		}

		@include bp(580) {
			
			&-section3 {
				width: 47%;
				display: flex;
				flex-direction: column-reverse;
				justify-content: space-between;
			}
		}
	}

	.soWeDid {
		width: 250px;

		&-section2 {
			h5,
			h3 {
				color: $pink;
			}
		}

		@include bp(768) {
			width: 200px;
		}

		@include bp(580) {

			&-section2 {
				width: 50%;
			}

			&-section3 {
				width: 100%;
			}
		}
	}

	.learnAboutProbioticsLink {
		width: 250px;
		margin-top: 30px;
		margin-left: 10px;
		display: block;
		@extend .relative;

		@include bp(768) {
			width: 185px;

			&-section2 {
				margin-top: 40px;
				margin-left: 45px;
			}

			&-section3 {
				position: absolute;
				left: -225px;
				bottom: -15px;
			}
		}

		@include bp(580) {

			&-section2 {
				width: 130px;
				position: absolute;
				bottom: 0px;
				right: 0;
			}

			&-section3 {
				margin-top: 0;
				width: 100%;
				margin-left: 5px;
				position: static;
			}
		}

		@include bp(320) {
			margin-top: 0 !important;

			&-section2 {
				bottom: -100px;
			}
		}
	}

	.learnAboutProbiotics {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
		@extend .alignItemsCenter;
		padding: 10px;

		p {
			margin: 0;
			font-family: $bodyFontBold, sans-serif;
		}

		&-section2 {
			background: $purple;
			transition: all 1s;

			p {
				color: $white;
			}

			&:hover {
				background: $green;
			}
		}

		&-section3 {
			background: $yellow;
			color: $purple;
			transition: all 1s;

			&:hover {
				background: $mintGreen;
			}
		}

		@include bp(580) {

			p {
				@include fontSize(11);
			}

			img {
				width: 20px;
			}

			&-section3 {
				margin: 0 0 15px;
			}
		}
	}
}
