.products {

	p {
		@include fontSize(10);
		font-family: $bodyFontBold;
	}

	.section1 {
		background: url( #{"{{'products-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 650px;

		div {
			@extend .flexParent;
			@extend .alignItemsCenter;
			@extend .relative;
			height: 100%;
		}

		@include bp(768) {
			height: 440px;
		}

		@include bp(580) {
			height: 360px;
		}

		.meetTheProbioticsLink {
			@extend .absolute;
			bottom: 120px;
			left: 9%;
		}

		.meetTheProbiotics {
			@extend .flexParent;
			@extend .justifyContentSpaceBetween;
			@extend .alignItemsCenter;
			background: $pink;
			width: 225px;
			padding: 10px;
			margin: {
				top: 30px;
			}

			p {
				@include fontSize(20);
				margin: 0;
				color: $white;
				font-family: $bodyFontBlack, sans-serif;
			}

			img {
				transform: rotate(90deg);
			}
		}

		@include bp(768) {

			h3 {
				@include fontSize(73);
				letter-spacing: -1px;
				line-height: 61px;
			}

			.meetTheProbioticsLink {
				bottom: 83px;
			}

			.meetTheProbiotics {
				width: 170px;

				p {
					@include fontSize(15);
				}
			}
		}

		@include bp(580) {

			h3 {
				@include fontSize(47);
				letter-spacing: -0.66px;
				line-height: 42.75px;
			}

			.meetTheProbioticsLink {
				bottom: 77px;
				left: 60px;
			}

			.meetTheProbiotics {
				width: 140px;

				p {
					@include fontSize(12);
				}
			}
		}
	}

	.section2 {
		@extend .relative;
		background: $purple;

		.section2-1 {
			position: absolute;
			width: 63%;
			right: 0;
			top: -80px;

			.allProductsMobile {
				display: none;
			}
		}

		.section2-2-1 {
			width: 33%;
			margin-top: 95px;

			p {
				@include fontSize(24);
				font-family: $bodyFontBold;
				color: $mintGreen;
				margin: 0 0 5px;
				padding-bottom: 2px;

				&:not(:last-of-type) {
					border-bottom: 1px solid $white;
				}
			}
		}

		.section2-2-2 {
			display: none;
		}

		.section2-3 {
			margin: 120px 0px 70px;

			&-mobile {
				display: none;
			}
		}

		.section2-4 {
			p {
				color: $lightGrey;
				text-align: center;
			}

			@include bp(768) {
				display: none;
			}
		}

		@include bp(768) {
			height: 680px;
			padding-bottom: 4%;

			> div {
				height: 100%;
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-end;
				justify-content: space-between;
			}

			.section2-1 {
				width: 95%;
				right: 0;
				top: -60px;
			}

			.section2-2,
			.section2-3 {
				width: 49%;
			}

			.section2-2-1 {
				width: initial;
				margin: 0 0 15%;

				p {
					@include fontSize(21);
				}
			}

			.section2-2-2 {
				display: block;

				p {
					color: $lightGrey;
					margin: 0;
				}
			}

			.section2-3 {
				margin: 0;

				&-mobile {
					display: block;
				}

				&-desktop {
					display: none;
				}
			}

			.section2-4 {
				display: none;
			}
		}

		@include bp(580) {
			height: auto;
			padding: 15rem 0 3rem 0;

			> div {
				flex-direction: column;
				justify-content: flex-end;
			}

			.section2-1 {
				top: -35px;
				width: initial;

				.allProductsMobile {
					display: block;
				}

				.allProducts {
					display: none;
				}
			}
			
			.section2-2,
			.section2-3 {
				width: 100%;
			}

			.section2-2 {
				margin-bottom: 20px;
			}

			.section2-2-1 {
				margin: 0;

				p {
					@include fontSize(18);
				}
			}

			.section2-2-2 {
				display: none;
			}

			.section2-4 {
				display: block;
				margin-top: 10px;

				p {
					text-align: left;
				}
			}
		}
	}


	.section3 {
		background: url( #{"{{'productsPinkPaperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		padding: 5% 0;

		@include bp(580) {
			background: url( #{"{{'productsPinkPaperTextureMobile.png' | asset_url }}"} ) center center no-repeat;
			padding: 0;

			.wrapper {
				padding: 25px 4% 25px 0;
			}
		}
	}

	.section3Content {
		@extend .flexParent;
		@extend .alignItemsCenter;
		@extend .justifyContentSpaceBetween;
		flex-wrap: nowrap;

		@include bp(768) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.section3-1 {
		margin-right: 5%;

		h3 {
			color: $yellow;
			letter-spacing: -1.65px;
			font-size: 9.7vw;
			line-height: 7.8vw;
		}

	   .section3-1-mobile {
	   	display: none;
	   }

	   @include bp(768) {

	   	.section3-1-mobile {
	   		display: block;
	   		margin-bottom: 5rem;
	   	}

	   	.section3-1-desktop {
	   		display: none;
	   	}
	   }

	   @include bp(580) {
	   	margin: 0;
	   	width: 100%;

	   	.section3-1-mobile {
	   		@include fontSize(45);
	   		letter-spacing: -0.66px;
	   		line-height: 42.36px;
				margin-left: 4%;
	   	}
	   }
	}

	.section3-2 {
		@extend .relative;

		&-tablet,
		&-mobile {
			display: none;
		}

		p {
			position: absolute;
			left: 36%;
			bottom: -60px;
		}

		a {
			color: $white;
		}

		@include bp(768) {

			&-tablet {
				display: block;
			}

			&-desktop,
			&-mobile  {
				display: none;
			}

			p {
				left: 39%;
				bottom: -50px;
			}
		}

		@include bp(580) {
			width: 98%;

			&-mobile {
				display: block;
			}

			&-desktop,
			&-tablet  {
				display: none;
			}

			p {
				position: static;
				margin-top: 10%;
				padding-left: 4%;
			}
		}
	}

	// .section3-2 {
	// 	@extend .flexParent;
	// 	flex-wrap: nowrap;

	// }

	// .section3-2-1 {

	// 	&-mobile {
	// 		display: none;
	// 	}

	// 	img {
	// 		width: 228px;
	// 		height: 458px;
	// 	}
	// }

	// .section3-2-2 {
	// 	@extend .relative;
	// 	max-width: 500px;
	// 	margin-top: 20px;
	// 	margin-left: 20px;

	// 	h6 {
	// 		font-family: $bodyFontBold;
	// 		text-transform: none;
	// 		font-size: 1.8vw;
	// 		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	// 	}

	// 	h6:nth-of-type(2),
	// 	h6:nth-of-type(3) {
	// 		margin-top: 60px;
	// 	}

	// 	h6:nth-of-type(4) {
	// 		margin-top: 40px;
	// 	}

	// 	p {
	// 		@extend .absolute;
	// 		bottom: -50px;

	// 		a {
	// 			color: $white;
	// 		}
	// 	}

	// 	@include bp(768) {

	// 		.section3-2-1 {

	// 			&-mobile {
	// 				display: block;
	// 			}

	// 			&-desktop {
	// 				display: none;
	// 			}
	// 		}
	// 	}
	// }

	.section4 {
		@extend .relative;
		background: $lightGreen;

		.section4Content {
			padding: 10% 0 5%;
			width: 45%;
		}

		h5 {
			color: $purple;
			font-family: $bodyFontBold;
			margin-bottom: 10%;
			letter-spacing: -1px;
			line-height: 69px;
			white-space: nowrap;
		}

		h6 {
			color: $pink;
			font-family: $bodyFont;
			text-transform: none;
			letter-spacing: -0.33px;
			line-height: 39px;
		}

		.notifyMe {
			@extend .relative;
			z-index: 25;
			bottom: -50px;
			background: $purple;
			padding: 40px;
			width: 500px;
			margin-left: 4%;


			h6 {
				font-family: $primaryHeadingFont;
				letter-spacing: -0.37px;
				line-height: 1;
				text-transform: uppercase;
				color: $white;
			}

			input {
				@include fontSize(15);
				width: 100%;
				height: 45px;
				padding: 10px 60px 10px 10px;
				color: $purple;
				font-weight: bold;
			}

			.rightArrow {
				background: #d7ed96 url(//cdn.shopify.com/s/files/1/1557/5885/t/3/assets/purpleRightArrow.png?16404003058298160106) center center no-repeat;
				position: absolute;
				right: 42px;
				bottom: 42px;
				padding: 10px;
				width: 55px;
				height: 41px;
				border: none;
				cursor: pointer;
			}

			div#mce-success-response.response,
			div#mce-error-response {
				margin-top: 3px;
				@include fontSize(12);
			}

			#mc_embed_signup div.mce_inline_error {
				position: absolute;
				bottom: 0;
				padding: 5px 0;
				color: $white;
				background: none;
				@include fontSize(10);
			}

			::-webkit-input-placeholder { /* Chrome */
			  color: $purple;
			  font-weight: bold;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: $purple;
			  font-weight: bold;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: $purple;
			  font-weight: bold;
			}
			:-moz-placeholder { /* Firefox 4 - 18 */
			  color: $purple;
			  font-weight: bold;
			}
		}

		@include bp(768) {
			.section4Content {
				width: 60%;
			}

			h5 {
				letter-spacing: -0.81px;
				line-height: 56px;
			}

			h6 {
				letter-spacing: -0.31px;
				line-height: 36px;
			}

			.notifyMe {
				width: 390px;
				padding: 20px;
				height: 135px;

				.rightArrow {
					bottom: 52px;
					right: 22px;
				}
			}
		}

		@include bp(580) {
			.section4Content {
				width: 100%;
			}

			h5 {
				letter-spacing: -0.62px;
				line-height: 44px;
			}

			h6 {
				letter-spacing: -0.25px;
				line-height: 29px;
			}

			.notifyMe {
				margin: 0;
				padding: 10px 4% 45px;
				width: 100%;
				height: 150px;

				.rightArrow {
					bottom: 77px;
					right: 4.4%;
				}

				#mc_embed_signup div.mce_inline_error {
					bottom: 20px;
				}
			}

			input[type=submit] {
				right: 10px;
				bottom: 45px;
				padding: 12px;
			}
		}
	}

	.section5 {
		@extend .relative;
		background: url( #{"{{'productsGreenPaperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 505px;

		&Headings {
			width: 46%;
			margin-top: 12%; 
		}

		h4 {
			color: $lightGreen;
			margin-bottom: 5%;
			letter-spacing: -1.27px;
			line-height: 77px;
		}

		h6 {
			@include fontSize(30);
			text-transform: none;
			font-family: $bodyFontBold;
			letter-spacing: -0.42px;
		}

		&-img {
			@extend .absolute;
			bottom: -3px;
			right: 4%;
			max-width: 50%;
		}

		&-imgMobile,
		&-imgTablet {
			display: none;
		}

		@include bp(768) {
			height: 410px;
			background: url( #{"{{'productsGreenPaperTextureTablet.png' | asset_url }}"} ) -260px center no-repeat;

			&Headings {
				width: 52%;
				margin-top: 18%;
			}

			h4 {
				line-height: 57px;
			}
			
			h6 {
				@include fontSize(20);
				letter-spacing: .5px;
			}

			&-img {
				bottom: 0px;
				z-index: 10;
			}

			&-imgDesktop {
				display: none;
			}

			&-imgTablet {
				display: block;
			}
		}

		@include bp(580) {
			height: 410px;
			background: url( #{"{{'productsGreenPaperTextureMobile.png' | asset_url }}"} ) center center no-repeat;

			h4 {
				margin-bottom: 20%;
				letter-spacing: -0.64px;
				line-height: 40px;
			}

			h6 {
				@include fontSize(18);
				letter-spacing: -0.25px;
			}

			&Headings {
				margin-top: 15%;
				width: 140px;;
			}

			&-img {
				bottom: 18px;
				right: 0;
				z-index: 30;
			}
			
			&-imgTablet {
				display: none;
			}

			&-imgMobile {
				display: block;
			}
		}
	}
}