.purpose {
	.section1 {
		background: url( #{"{{'purpose-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 780px;
		padding-top: 10%;

		h5 {
			@include fontSize(82);
			font-family: $bodyFontBold;
			margin: {
				bottom: 10%;
			}
			white-space: nowrap;
			letter-spacing: -1.21px;
			line-height: 82.8px;
		}

		p {
			@include fontSize(24);
			color: $pink;
			letter-spacing: -0.33px;
			line-height: 39px;
		}

		&Content {
			width: 50%;
		}

		@include bp(768) {
			height: 700px;

			h5 {
				@include fontSize(62.5);
				line-height: 67px;
			}

			h4 {
				bottom: -80px;
			}

			p {
				@incldue fontSize(22);
				line-height: 36px;
			}

			&Content {
				width: 65%;
			}
		}

		@include bp(580) {
			height: 625px;

			h5 {
				@include fontSize(44);
				line-height: 44px;
			}		

			h4 {
				bottom: -60px;
			}

			p {
				@include fontSize(18);
				line-height: 29px;
			}

			&Content {
				width: 100%;
				padding-top: 10%;
			}
		}
	}

	.section2 {
		background: url( #{"{{'purpose-section2.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 720px;

		.philosophyWrapper {
			@extend .flexParent;
			@extend .justifyContentSpaceBetween;
			@extend .alignItemsFlexEnd;
			height: 100%;
		}

		.philosophy1,
		.philosophy2 {
			width: 48%;
			margin-bottom: 3rem;
		}

		h5, h6, span {
			font-family: $bodyFontBold;
		}

		span {
			color: $yellow;
			margin-right: 5px;
		}

		h5 {
			@include fontSize(58);
			letter-spacing: -0.8px;
			margin-bottom: 5%;
		}

		h6 {
			letter-spacing: -0.33px;
			line-height: 1;
		}

		li {
			list-style-position: inside;
			margin: 25px 0;
			padding-left: 25px;
			counter-increment: count-me;

			&::before {
				content: counter(count-me);
				display: block;
				position: relative;
				width: 10px;
				max-height: 0px;
				left: -20px;
				top: -2px;
				color: #FFF200;
				font-family: "CircularBold",sans-serif;
				font-size: 24px;
			}
		}

		@include bp(768) {
			background-position: 0px;

			.philosophyWrapper {
				flex-direction: column;
				justify-content: space-around;
			}

			.philosophy1,
			.philosophy2 {
				width: 100%;
				margin-bottom: 0;
			}

			.philosophy1 {
				margin-top: 5%;
			}

			li {

				&::before {
					font-size: 20px;
				}
			}
		}

		@include bp(580) {
			height: 650px;

			li {

				&::before {
					font-size: 18px;
					left: -21px;
				}
			}

			h5 {
				@include fontSize(30);
				letter-spacing: -0.42px;
			}

			h6 {
				@include fontSize(18);
			}
		}
	}

	.section3 {
		background: url( #{"{{'purposePaperTexture.png' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		padding-top: 50px;

		.meetTheFounders {
			@include fontSize(80);
			@extend .uppercase;
			color: $mintGreen;
			letter-spacing: -1.1px;
		}

		@include bp(768) {
			background: url( #{"{{'purposePaperTextureTablet.png' | asset_url }}"} ) -275px -185px no-repeat;

			.meetTheFounders {
				@include fontSize(67);
				letter-spacing: -0.93px;
			}
		}

		@include bp(580) {
			background-position: -150px -185px;
			overflow: hidden;

			.meetTheFounders {
				@include fontSize(50);
				letter-spacing: -0.7px;
			}
		}
	}

	.founders {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
		margin: {
			top: 7%;
			bottom: 7%;
		}

		@include bp(768) {
			flex-direction: column;
		}
	}

	.founderContainer {
		@extend .relative;
		width: 30%;

		// &:nth-of-type(2) {
		// 	align-self: flex-start;
		// }

		p:last-of-type {
			color: $darkGrey;
			letter-spacing: -0.25px;
			line-height: 32px;
		}

		.founderImage {
			text-align: right;
			
			img {
				width: 200px;
			}
		}

		@include bp(768) {
			width: 70%;
			margin-top: -40px;

			&:nth-of-type(2) {
				align-self: flex-end;
			}

			&:first-of-type,
			&:nth-of-type(3) {

				.founderName {
					right: 0;
				}

				.founderImage {
					text-align: left;
				}
			}
		}

		@include bp(580) {
			width: 100%;
			margin-top: initial;

			.founderImage {

				img {
					width: 150px;
				}
			}

			&:first-of-type,
			&:nth-of-type(3) {

				.founderImage {
					margin-left: -50px;
				}
			}

			&:nth-of-type(2) {

				.founderImage {
					margin-right: -50px;
				}
			}
		}
	}

	.founderName {
		@include fontSize(34);
		@extend .uppercase;
		font-family: $primaryHeadingFont, sans-serif;
		color: $pink;
		position: absolute;
	   top: 125px;
	   word-spacing: 999rem;
	   margin: 0;
		line-height: 0.9;

	   @include bp(768) {
	   	word-spacing: unset;
	   	white-space: nowrap;
	   	top: 140px;
	   }

	   @include bp(768) {
	   	white-space: initial;
	   	top: 110px;

	   	&:nth-of-type(1),
	   	&:nth-of-type(3) {
	   		text-align: right;
	   	}
	   }
	}
}