.purpose {
	.section1 {
		background: url( #{"{{'purpose-section1.jpg' | asset_url }}"} ) center center no-repeat;
		background-size: cover;
		height: 780px;

		// &::after {
		// 	content: '';
		// 	opacity: 0.5;
		// 	background: $yellow;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	z-index: -1;
		// }	

		h4 {
			@include fontSize(82);
			font-family: $bodyFontBold;
			margin: {
				bottom: 10%;
			}
			white-space: nowrap;
			letter-spacing: -1.21px;
			line-height: 82.8px;
		}

		p {
			@include fontSize(24);
			color: $pink;
			letter-spacing: -0.33px;
			line-height: 39px;
		}

		&Content {
			width: 50%;
		}

		@include bp(768) {
			height: 700px;

			h4 {
				@include fontSize(62.5);
				line-height: 67px;
			}

			p {
				@incldue fontSize(22);
				line-height: 36px;
			}

			&Content {
				width: 65%;
			}
		}

		@include bp(580) {
			height: 625px;

			h4 {
				@include fontSize(44);
				line-height: 44px;
			}		

			p {
				@include fontSize(18);
				line-height: 29px;
			}

			&Content {
				width: 100%;
			}
		}
	}

	.section2 {

		h4 {
			@extend .uppercase;
			color: $purple;
			text-align: right;
			margin-top: -63px;
		}

		@include bp(768) {

			h4 {
				margin-top: -55px;
			}
		}

		@include bp(580) {

			h4 {
				margin-top: -47px;
			}		
		}
	}

	.founders {
		@extend .flexParent;
		@extend .justifyContentSpaceBetween;
		margin: {
			top: 7%;
			bottom: 7%;
		}

		@include bp(768) {
			flex-direction: column;
		}
	}

	.founderContainer {
		@extend .relative;
		width: 27%;

		p:last-of-type {
			color: $darkGrey;
			letter-spacing: -0.25px;
			line-height: 32px;
		}

		@include bp(768) {
			width: 70%;
			margin-top: -40px;

			&:first-of-type,
			&:nth-of-type(3) {

				.founderName {
					right: 0;
				}

				.founderImage {
					text-align: left;
				}
			}
		}

		@include bp(580) {
			width: 100%;
			margin-top: initial;

			&:first-of-type,
			&:nth-of-type(3) {

				.founderImage {
					margin-left: -50px;
				}
			}

			&:nth-of-type(2) {

				.founderImage {
					margin-right: -50px;
				}
			}
		}
	}

	.founderImage {
		text-align: right;
	}

	.founderName {
		@include fontSize(34);
		@extend .uppercase;
		font-family: $primaryHeadingFont, sans-serif;
		color: $pink;
		position: absolute;
	   top: 100px;
	   word-spacing: 999rem;
	   margin: 0;
		line-height: 0.9;

	   @include bp(768) {
	   	word-spacing: unset;
	   	white-space: nowrap;
	   	top: 150px;
	   }
	}
}