<div class="purpose">

	<section class="section1">
		<div class="wrapper">

			<div class="section1Content" data-top-bottom="margin-top: -4%;" data-bottom-top="margin-top: 4%;" data-center="margin-top: 0%;">
				<h5>Welo stands<br/>for &ldquo;we love.&rdquo;</h5>
				<p>We love your health: our probiotic drink is made with organic cold-pressed juice, no added  flavours or preservatives and vegan probiotics. We love our community: we believe everyone deserves to drink healthy, so for every bottle purchased we donate 5c to provide clean, safe water to communities in need.</p>
			</div>
		</div>
	</section>

	<section class="section2">
		<div class="wrapper philosophyWrapper">
		
			<div class="philosophy1" data-top-bottom="margin-bottom: 6%;" data-bottom-top="margin-bottom: 2%;" data-center="margin-bottom: 4%;">

				<h5>Our Philosophy</h5>

				<ol>
					<li><h6>Create super awesome products that</h6></li>
					<li><h6>Do super good things for your body and</h6></li>
					<li><h6>Make a super big difference world wide.</h6></li>
				</ol>

			</div>

			<div class="philosophy2" data-top-bottom="margin-bottom: 6%;" data-bottom-top="margin-bottom: 2%;" data-center="margin-bottom: 4%;">

				<h5>What We’re About</h5>

				<ol>
					<li><h6>Do more good always.</h6></li>
					<li><h6>Plants on plants on plants.</h6></li>
					<li><h6>Less mediocracy more greatness.</h6></li>
				</ol>

			</div>

		</div>
	</section>

	<section class="section3">
		<div class="wrapper">

			<h4 class="meetTheFounders" data-top-bottom="margin-bottom: 0%;" data-bottom-top="margin-bottom: -6%;" data-center="margin-bottom: 3%;">Meet the founders</h4>


			<div class="founders" data-top-bottom="margin-top: -6%;" data-bottom-top="margin-top: 12%;" data-center="margin-top: 7%;">
				<div class="founderContainer">
					<p class="founderName">Stef</p>
					<div class="founderImage">{{ 'stef.png' | asset_url | img_tag }}</div>
					<p>We all had our own special journey that brought us together and also made us dive deeper into health and wellness. Jack and I were both unconventional business majors that decided once school was over we would follow our hearts. Welo represents a little part of all of us. Its what we give back to the world. </p>
				</div>
				<div class="founderContainer">
					<p class="founderName">Jack</p>
					<div class="founderImage">{{ 'jack.png' | asset_url | img_tag }}</div>
					<p>There’s so many ideas that fly between the three of us and Jess (the food scientist/ brains behind everything) makes it happen. Seeing everything we’ve dreamt up come to life goes to show that you are capable of anything you set your mind to.</p>
				</div>
				<div class="founderContainer">
					<p class="founderName">Jess</p>
					<div class="founderImage">{{ 'jess.png' | asset_url | img_tag }}</div>
					<p>The last element is really the community that surrounds us. Welo is so much more than just the bottom line, its an agent for change. We’ve met so many great people on this journey and we’ve learnt so much along the way, this is just the beginning to everything we can do and all the lives we can impact.</p>
				</div>
			</div>

		</div>
	</section>

</div>