<div class="givingBack">

	<section class="section1">

		<div class="wrapper">

			<div class='relative'>
				<p>Our goal:</p>
				<h2>Water<br/>for all.</h2>
			</div>

		</div>

	</section>

	<section class="section2 relative">
		
		<div class="wrapper">

			<div class="section2Container">
				<div class="givingBackImgContainer">
				  {{ 'welogivingback.png' | asset_url | img_tag: 'photo of children holding a Welo sign' }}
				</div>

				<h6 data-top-bottom="margin-top: 0%;" data-bottom-top="margin-top: 8%;" data-center="margin-top: 3%;">We love our community: we believe everyone deserves to drink healthy, so for every bottle purchased we donate 5c to provide clean, safe water to communities in need. </h6>
			</div>

			<div class="section2Container" data-top-bottom="margin-top: 1%;" data-bottom-top="margin-top: 5%;" data-center="margin-top: 3%;">{{ page.content }}</div>

		</div>

	</section>

</div>