<div class="givingBack">

	<section class="section1">

		<div class="wrapper">

			<div class='relative'>
				<p>Our goal:</p>
				<h2>A Healthier<br/>World.</h2>
			</div>

		</div>

	</section>

	<section class="section2 relative">
		
		<div class="wrapper">

			<div class="section2Container">
				<div class="givingBackImgContainer">
				  {{ 'welogivingback.png' | asset_url | img_tag: 'photo of children holding a Welo sign' }}
				</div>

				<h6{% comment %} data-top-bottom="margin-top: 0%;" data-bottom-top="margin-top: 8%;" data-center="margin-top: 3%;"{% endcomment %}>We’ve partnered with the Creation of Hope initiative to bring real, lasting change to Kenya. 5 cents off every bottle sold goes towards working with the local communities and building water wells in Africa. It costs approximately $700 per well, each of which gives indefinite amounts of clean water to the community with marginal maintenance cost.</h6>
			</div>

			<div class="section2Container" data-top-bottom="margin-top: 1%;" data-bottom-top="margin-top: 5%;" data-center="margin-top: 3%;">
				<p>We’re passionate about promoting good health the world over. In North America, where safe drinking water and access to clean water sources is in abundance, our focus can be on improving our bodies and wellbeing. But in Kenya, where the same is not true, we can have a far greater impact in helping raise the standard for quality of life.</p>
				<p>We feel it’s important to provide sustainable, locally-produced products and packaging to ensure our planet remains healthy and strong. Meanwhile, our efforts here can allow us to foster sustainable and life-giving water sources to the people who need it most.</p>
				<p>It is our responsibility as a company to care for and give back to our community, and that’s possible on a far grander scale than it ever has been. Providing infrastructural solutions to water for communities in Africa – ones that they maintain and foster independently – is achievable only when people come together. Small acts add up to great possibility. Given the average amount of drinking water a person needs per day and the cost of a single well for an entire year, the proceeds from every bottle provide 6.5 Kenyans with clean water for one entire month.</p>
			</div>

		</div>

	</section>

</div>