<div class="purpose">

	<section class="section1 flexParent alignItemsCenter">
		<div class="wrapper">

			<div class="section1Content">
				<h4>Welo stands<br/>for ❝we love.❞</h4>
				<p>We love your health: our probiotic drink is made with organic cold-pressed juice, no added  flavours or preservatives and vegan probiotics. We love our community: we believe everyone deserves to drink healthy, so for every bottle purchased we donate 5c to provide clean, safe water to communities in need.</p>
			</div>

		</div>
	</section>

	<section class="section2">
		<div class="wrapper">
			
			<h4>Meet the<br/>founders</h4>

			<div class="founders">
				<div class="founderContainer relative">
					<p class="founderName uppercase">Stefana Prodea</p>
					<div class="text-right">{{ 'founderHolder.png' | asset_url | img_tag }}</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget velit quis nunc efficitur auctor ut a nisl. Praesent eu ex vulputate, volutpat mauris nec, sollicitudin urna. Aenean consequat est sed diam tincidunt, non pulvinar risus malesuada. Curabitur egestas scelerisque dictum. Quisque nec augue tincidunt, condimentum quam bibendum, rutrum justo. Curabitur malesuada consequat mauris, sit amet tempor tellus dapibus ac. Nulla convallis efficitur enim, vitae malesuada tortor mattis at. Ut nec libero non metus vehicula placerat sollicitudin quis nibh. Maecenas nec.</p>
				</div>
				<div class="founderContainer relative">
					<p class="founderName uppercase">Jack Baker</p>
					<div class="text-right">{{ 'founderHolder.png' | asset_url | img_tag }}</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget velit quis nunc efficitur auctor ut a nisl. Praesent eu ex vulputate, volutpat mauris nec, sollicitudin urna. Aenean consequat est sed diam tincidunt, non pulvinar risus malesuada. Curabitur egestas scelerisque dictum. Quisque nec augue tincidunt, condimentum quam bibendum, rutrum justo. Curabitur malesuada consequat mauris, sit amet tempor tellus dapibus ac. Nulla convallis efficitur enim, vitae malesuada tortor mattis at. Ut nec libero non metus vehicula placerat sollicitudin quis nibh. Maecenas nec.</p>
				</div>
				<div class="founderContainer relative">
					<p class="founderName uppercase">Jessica Phulchand</p>
					<div class="text-right">{{ 'founderHolder.png' | asset_url | img_tag }}</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget velit quis nunc efficitur auctor ut a nisl. Praesent eu ex vulputate, volutpat mauris nec, sollicitudin urna. Aenean consequat est sed diam tincidunt, non pulvinar risus malesuada. Curabitur egestas scelerisque dictum. Quisque nec augue tincidunt, condimentum quam bibendum, rutrum justo. Curabitur malesuada consequat mauris, sit amet tempor tellus dapibus ac. Nulla convallis efficitur enim, vitae malesuada tortor mattis at. Ut nec libero non metus vehicula placerat sollicitudin quis nibh. Maecenas nec.</p>
				</div>
			</div>

		</div>
	</section>

</div>